body { 
    font-family: sans-serif;
    background: no-repeat center center;
    background-size: auto;
}

p {
    font-size: 20px;
}

.getversion {
    text-align: center;
    padding: 30px 0px 30px 0px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.5);
}

.bg1 {background-image: url(./img/001.jpg);}
.bg2 {background-image: url(./img/002.jpg);}
.bg3 {background-image: url(./img/003.jpg);}
.bg4 {background-image: url(./img/004.jpg);}
.bg5 {background-image: url(./img/005.jpg);}
.bg6 {background-image: url(./img/006.jpg);}
.bg7 {background-image: url(./img/007.jpg);}
.bg8 {background-image: url(./img/008.jpg);}
.bg9 {background-image: url(./img/009.jpg);}
.bg10 {background-image: url(./img/010.jpg);}
.bg11 {background-image: url(./img/011.jpg);}
.bg12 {background-image: url(./img/012.jpg);}
.bg13 {background-image: url(./img/013.jpg);}
.bg14 {background-image: url(./img/014.jpg);}
.bg15 {background-image: url(./img/015.jpg);}
